.hidden {
  display: none;
}

#login {
  margin-top: 200px;
}

#login-form {
  text-align: center;
  width: auto;
  height: fit-content;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: fadeIn 1.5s linear forwards;
  font-size: 30px;
}

#login-form #name {
  width: auto;
  font-size: 2rem;
  text-align: center;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #ffffff;
  background: 0;
}

#greeting {
  justify-content: center;
  display: flex;
}

body,
input,
textarea,
::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Nanum Pen Script", cursive;
  color: #eeeeee;
}

body {
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 100px;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  color: #fffffb;
}

footer {
  margin: 0;
  justify-content: center;
  display: flex;
}

#quote {
  font-size: 20px;
  margin-top: 70px;
  width: 1200px;
}

#quote #quote {
  justify-content: center;
  display: flex;
}

#author {
  font-size: 15px;
  justify-content: end;
  display: flex;
}

#todo-form input {
  width: 300px;
  font-size: 1rem;
  text-align: center;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #ffffff;
  background: 0;
}

#weather {
  justify-content: center;
  display: flex;
}

button {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  opacity: 0.7;
  background-color: none;
}
